<!DOCTYPE html>
<html lang="en">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:insert="Fragments/Header :: defaultHeader"/>

<form th:action="${'/Predsezon/add'}" method="post">
  <input type="text" name="namepredsezon" placeholder="Введите название"> <br>
  <br>
  <select  name="user">
    <div th:each="element : ${user}">
      <option th:text="${element.login}"></option>
    </div>
  </select><br>

  <select  name="sezon">
    <div th:each="element : ${sezon}">
      <option th:text="${element.namesezon}"></option>
    </div>
  </select><br>


  <button type="submit" >Добавить запись</button>
</form>

<br/>

